@import url('https://fonts.googleapis.com/css2?family=Satisfy&family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
body{
    background-color: sienna;
    background-color: rgba(0,255,0,0.75); /*write comments in css*/ /*rgb 0-255*/
    background-color: #999999;
    background-color:rgb(199, 137, 199);
}
h1{
    font-family:"Satisfy", sans-serif;
    text-align:center;
    font-weight: 100;

}
h2{font-family: 'Times New Roman', Times, serif;
    text-transform: capitalize;
}

ul{
    list-style: square;
}

ul li{
    color: rgb(115, 204, 224)
}

li{
    text-decoration: underline;
}

a {
    text-decoration: none;
}

a:hover{
    color: pink;
}
img{
    width: 300px;
}
.pink{
    color: pink;
}